/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Section-1*/

.section-1 {
    width: 90%;
    margin: 0 auto;
}

/* Banner */
.banner{
    max-width: 90%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    background-color: #161616;
    border-radius: 20px;
    color: #ffff;
    padding: 100px;
    position: relative;
    
}

.banner h1{
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.banner p{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.banner img{
    width: 42%;
    position: absolute;
    bottom: 0;
    margin-top: 30px;
    padding-right: 80px;
    
}

.main-btn{
    color: #ffff;
    background-color: #DD0000;
    padding: 10px 30px;
    border-radius: 10px;
    margin-top: 30px;
    border: none;
    transition: transform 1s ease-in;
}

.banner:hover .main-btn{
    background-color: orange;
    transform: rotate(360deg);

}



/* Matches */

.matches{
    margin-top: 50px;
    display: flex;
}

.navigation {
display: flex;
flex-direction: column;
justify-content: space-between;
background-color: #161616;
padding: 10px;
border-radius: 10px;
width: 310px;
height: 180px;
}

.navigation a{
    text-decoration: none;
    background-color: #ffff;
    padding: 10px 15px;
    margin: 0;
    border-radius: 5px;
    margin: 10px;
    font-size: small;
}

navigation a:active{
    background: #DD0000;
    color: white;
}

.navigation a:hover{
    background: #DD0000;
    color: white;
}


/* Blog */

/* Player Card */

.player-card{
    border: 2px solid lightgray;
    border-radius: 12px;
    
}

.player-card img{
    width: 100%;
}

.player-text{
    margin-top: 0;
    padding: 10px;
    

}
.transfer{
    text-decoration: none;
    background-color: #ffff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid  #161616;
}

.card-text{
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
}

.icon-div{
    display: flex;
    justify-content: flex-start;
    
}

.icon-div p{
    margin-right: 30px;
}


.grid-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 30px;
}

.hidden-btn{
    display: flex;
    justify-content: center;
    visibility: hidden;
}

/* Footer */
footer{
    color: #ffff;
    background-color: #161616;
    text-align: center;
    max-height: 440px;
}

footer h2{
    font-size: 40px;
    font-weight: 600;
    padding-top: 80px;
    padding-bottom: 25px;
}

footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    width: 90%;
}
footer a{
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    margin-right: 20px;
}

.contact-section{
    margin-top: 20px;
}

.social-media{
    margin-top: 20px;
    padding-bottom: 30px;
}


/* Upcoming Matches */

.match-card{
    text-align: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 12px;
}


.flag{
    display: grid;
    grid-template-columns: auto 50px auto;
    justify-items: center;
    align-items: center;
}

.vs{
    font-size: 16px;
    font-weight: 700;
}

.match-time{
    color: #4D4D4D
}

.media{
    font-size: 30px;
    transition: transform .5s ease-in-out;
}

.media:hover{
    transform: rotate(360deg);
   
}

/* Mobile responsiveness */

@media only screen and (max-width: 688px) {
    .banner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 10px;
        padding: 0 30px ;
        margin: 10px 0;
        text-align: center;
        height: 472px

    }

    .banner h1{
        font-size: 22px;
        line-height: 26px;
    }
    
    .banner p{
       font-size: 10px;
    }
    
    .image-container{
        margin-top: 100px; 
        display: flex;
        justify-content: center;
    }

    .banner img{
        width: 65%;
        padding: 0;
    }

    .text-container{
        padding: 20px;
    }

    .main-btn{
        margin-top: 10px;
    }


    .matches{
        flex-direction: column;
    }

    .navigation{
        background-color: #fff;
        height: 150px;
        width: auto;
    }

    .navigation a{
        text-align: center;
        padding: 5px 10px;
        border: 1px solid grey;
        font-weight: 700;
    }
    .grid-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 20px;
        padding-left: 0;
    
    }

    footer .contact-section a{
        display: flex;
        flex-direction: column;
        justify-content: center;
      
    }


}

/* Tab Responsiveness */

@media (min-width: 689px) and (max-width: 992px) {

    .banner{
        padding: 60px;
        border-radius: 10px;
        
    }

    .banner h1{
        font-size: 40px;
        line-height: 45px;
    }
    
    .banner p{
       font-size: 10px;
    }

    .banner img{
        width: 48%;
        padding: 0;
    }
    .navigation{
        flex-direction: row;
        background-color: #fff;
        height: 150px;
        width: 100%;
    }

    .navigation a{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-around;
        border: 1px solid grey;
        font-size: large;
        font-weight: 700;
        height: 30px;
        width: 220px;
        justify-content: center;
        display: inline-block;
        text-align: center;
    }

    .matches{
        flex-direction: column;
    }

    .grid-items{
        grid-template-columns: repeat(2, 1fr);
    }
    
    .hidden-btn{
        visibility: visible;
    }

}